on post-fs-data
    mkdir /data/logger 0775 root root
    mkdir /data/ccaudit 0775 system system
    mkdir /data/logger/setup 0770 system system
    mkdir /cache/encryption_log 0775 system root
    mkdir /persist/encryption_log 0775 system system
    mkdir /mnt/vendor/els/encryption_log 0775 root root
    mkdir /mnt/product/els/encryption_log 0775 root root

# kernel log
service log-kernel /system/bin/sh /system/bin/logger_kernel.sh
    class main
    disabled
    user root
    group root cache
    oneshot
    seclabel u:r:log_services:s0

# kernel_logger is only running when cc_mode is enabled with user mode, DO NOT USE this value for other purpose.
on property:persist.vendor.lge.service.kernel.enable=99
    restart log-kernel

on property:persist.vendor.lge.service.kernel.enable=6
    restart log-kernel

on property:persist.vendor.lge.service.kernel.enable=5
    restart log-kernel

on property:persist.vendor.lge.service.kernel.enable=4
    restart log-kernel

on property:persist.vendor.lge.service.kernel.enable=3
    restart log-kernel

on property:persist.vendor.lge.service.kernel.enable=2
    restart log-kernel

on property:persist.vendor.lge.service.kernel.enable=1
    restart log-kernel

on property:persist.vendor.lge.service.kernel.enable=0
    stop log-kernel


# power log
service log-power /system/bin/logger_power.sh
    class main
    disabled
    oneshot

on property:persist.vendor.lge.service.power.enable=6
    restart log-power

on property:persist.vendor.lge.service.power.enable=5
    restart log-power

on property:persist.vendor.lge.service.power.enable=4
    restart log-power

on property:persist.vendor.lge.service.power.enable=3
    restart log-power

on property:persist.vendor.lge.service.power.enable=2
    restart log-power

on property:persist.vendor.lge.service.power.enable=1
    restart log-power

on property:persist.vendor.lge.service.power.enable=0
    stop log-power


# logcat main
service logcat-main /system/bin/sh /system/bin/logger_main.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

on property:persist.vendor.lge.service.main.enable=6
    restart logcat-main

on property:persist.vendor.lge.service.main.enable=5
    restart logcat-main

on property:persist.vendor.lge.service.main.enable=4
    restart logcat-main

on property:persist.vendor.lge.service.main.enable=3
    restart logcat-main

on property:persist.vendor.lge.service.main.enable=2
    restart logcat-main

on property:persist.vendor.lge.service.main.enable=1
    restart logcat-main

on property:persist.vendor.lge.service.main.enable=0
    stop logcat-main

# logcat system
service logcat-system /system/bin/sh /system/bin/logger_system.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

on property:persist.vendor.lge.service.system.enable=6
    restart logcat-system

on property:persist.vendor.lge.service.system.enable=5
    restart logcat-system

on property:persist.vendor.lge.service.system.enable=4
    restart logcat-system

on property:persist.vendor.lge.service.system.enable=3
    restart logcat-system

on property:persist.vendor.lge.service.system.enable=2
    restart logcat-system

on property:persist.vendor.lge.service.system.enable=1
    restart logcat-system

on property:persist.vendor.lge.service.system.enable=0
    stop logcat-system

# logcat radio
service logcat-radio /system/bin/sh /system/bin/logger_radio.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

on property:persist.vendor.lge.service.radio.enable=6
    restart logcat-radio

on property:persist.vendor.lge.service.radio.enable=5
    restart logcat-radio

on property:persist.vendor.lge.service.radio.enable=4
    restart logcat-radio

on property:persist.vendor.lge.service.radio.enable=3
    restart logcat-radio

on property:persist.vendor.lge.service.radio.enable=2
    restart logcat-radio

on property:persist.vendor.lge.service.radio.enable=1
    restart logcat-radio

on property:persist.vendor.lge.service.radio.enable=0
    stop logcat-radio

# logcat events
service logcat-events /system/bin/sh /system/bin/logger_events.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

on property:persist.vendor.lge.service.events.enable=6
    restart logcat-events

on property:persist.vendor.lge.service.events.enable=5
    restart logcat-events

on property:persist.vendor.lge.service.events.enable=4
    restart logcat-events

on property:persist.vendor.lge.service.events.enable=3
    restart logcat-events

on property:persist.vendor.lge.service.events.enable=2
    restart logcat-events

on property:persist.vendor.lge.service.events.enable=1
    restart logcat-events

on property:persist.vendor.lge.service.events.enable=0
    stop logcat-events


on property:persist.product.lge.service.logger.low=1
    restart log-kernel
    restart log-power
    restart logcat-main
    restart logcat-system
    restart logcat-radio
    restart logcat-events
    restart logcat-memory

on property:persist.product.lge.service.logger.low=0
    restart log-kernel
    restart log-power
    restart logcat-main
    restart logcat-system
    restart logcat-radio
    restart logcat-events
    restart logcat-memory

on property:persist.product.lge.service.logsize.enable=1
    restart log-kernel
    restart log-power
    restart logcat-main
    restart logcat-system
    restart logcat-radio
    restart logcat-events
    restart logcat-memory

on property:persist.product.lge.service.logsize.enable=0
    restart log-kernel
    restart log-power
    restart logcat-main
    restart logcat-system
    restart logcat-radio
    restart logcat-events
    restart logcat-memory


#tcpdump - packet log
service log-packet /system/bin/sh /system/bin/logger_packet.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

on property:persist.product.lge.data.packet.enable=1
    restart log-packet

on property:persist.product.lge.data.packet.enable=2
    restart log-packet

on property:persist.product.lge.data.packet.enable=0
    stop log-packet

on property:vold.decrypt=trigger_restart_framework
    restart log-kernel
    restart log-power
    restart logcat-main
    restart logcat-system
    restart logcat-radio
    restart logcat-events
    restart log-packet
    restart log-xfrm
    restart logcat-memory

on property:vold.encrypt_progress=0
    restart log-kernel
    restart log-power
    restart logcat-main
    restart logcat-system
    restart logcat-radio
    restart logcat-events
    restart log-packet
    restart logcat-memory
    restart log-xfrm
# memory log
service logcat-memory /system/bin/logger_memory.sh
    class main
    disabled
    oneshot

on property:persist.product.lge.service.memory.enable=6
    restart logcat-memory

on property:persist.product.lge.service.memory.enable=5
    restart logcat-memory

on property:persist.product.lge.service.memory.enable=4
    restart logcat-memory

on property:persist.product.lge.service.memory.enable=3
    restart logcat-memory

on property:persist.product.lge.service.memory.enable=2
    restart logcat-memory

on property:persist.product.lge.service.memory.enable=1
    restart logcat-memory

on property:persist.product.lge.service.memory.enable=0
    stop logcat-memory

# log xfrm
service log-xfrm /system/bin/sh /system/bin/logger_xfrm.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0


on property:persist.product.lge.data.xfrm.enable=1
    start log-xfrm

on property:persist.product.lge.data.xfrm.enable=0
    stop log-xfrm

on property:persist.product.lge.service.removelog=1
    exec /system/bin/rm -r /data/logger
    mkdir /data/logger 0775 system system
    mkdir /data/logger/setup 0770 system system
    setprop persist.product.lge.service.removelog 0
